<app-header></app-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Categorie : {{ categorieName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list-header>
    <ion-label>{{ categorieName }}</ion-label>
  </ion-list-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of foods">
        <ion-card [routerLink]="['/details', item.id]">
          <img alt="Silhouette of mountains" [src]="item.img" />
          <ion-card-header>
            <ion-card-subtitle>{{ item.name }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
