<ion-row  *ngIf="itemInCart && itemInCart.qte > 0" class="cartBtnCount">
  <ion-col [size]="coloumSizes()[0]">
    <ion-button (click)="addInCart(-1)" [size]="btnSize">
      <ion-icon slot="icon-only" name="remove"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col [size]="coloumSizes()[1]" class="nbSlot">
    {{ itemInCart.qte }}
  </ion-col>
  <ion-col [size]="coloumSizes()[2]" class="ion-text-end">
    <ion-button (click)="addInCart(1)" [size]="btnSize">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>


