<app-header></app-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cart</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let item of itemsInCart">
    <div class="card-top">
      <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
      <ion-thumbnail>
        <img [src]="item.food.img" />
      </ion-thumbnail>

      <ion-card-content>
        <h5>{{ item.food.name }}</h5>
        <h4>{{ item.food.price }} XOF</h4>
      </ion-card-content>
    </div>
    <div class="card-bottom">
      <ion-button fill="clear" (click)="deleteCartItem(item.food.id)">
        <ion-icon  slot="start" name="trash"></ion-icon>
        Supprimer
      </ion-button>

      <app-cart-btn [food]="item.food" btnSize="small"></app-cart-btn>

    </div>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" size="large" (click)="sendCart()">
      Commander
    </ion-button>
  </ion-toolbar>
</ion-footer>
