<app-header></app-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ food?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img alt="Silhouette of mountains" [src]="food?.img" />
      <ion-card-subtitle>Prix : {{ food?.price }} XOF</ion-card-subtitle>
      <ion-card-title>Nom : {{ food?.name }}</ion-card-title>
      <ion-card-title>Categorie : {{ categorieName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Description : {{ food?.description }}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <app-cart-btn [food]="food!"></app-cart-btn>
  <app-cart-count-btn [food]="food!"></app-cart-count-btn>
</ion-footer>
